*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Khula';
    color: #3A3A3A;
}
.layout{
	width: 90%;
	margin: 0 auto;
}
.company{
	position: relative;
	height: 774px;
	width: 100%;
	background-image: linear-gradient(to right, #F9F1E7 68%, #FCF8F3 32%);
}
.company__menu{
	padding-top: 45px;
	display: flex;
	justify-content: space-between;
}
input.with-mag{
    background-image: url("vector-images/magnifier.png");   
    background-repeat: no-repeat;    
    background-position: 2px; 
    border: none;
    line-height: 2.1em;
	padding-left: 25px;
	font-size: 14px;
}
.funiro{
	font-weight: bold;
	font-size: 24px;
}
ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    padding-right: 40px;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
}
ul.menu > li + li{
	font-weight: 500
}
ul.menu > li > a:hover {
    background-color: 
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
	left: 0;
	z-index: 2;
}
ul.submenu > li {
	display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color:  #212121;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    background-color:  #FCF8F3;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.choise{
	margin-left: 15px;
}
.main{
	width: 934px;
	position: absolute;
	left: 350px;
	top: 104px;
}
.carousel-item{
	position: relative;
}
.company__sofa-label{
	position: absolute;
	top: 365px;
    left: 600px;
	width: 294px;
	height: 148px;
	background: rgba(255, 255, 255, 0.72);
}
.company__sofa-text{
	padding: 24px;
}
.company__sofa-name{
	font-weight: 600;
	font-size: 28px;
}
.company__sofa-description{
	font-weight: 500;
	color: #616161;
	padding-bottom: 10px;
}
.company__sofa-price{
	font-weight: 600;
	font-size: 20px;
}
.arrow-right{
	padding-left: 90px;
}
.carousel-indicators{
	position: absolute;
	top: -40px;
}
.carousel-indicators{
 position: absolute;
 top: -40px;
}
.carousel-indicators li {
  width:10px!important;
  height:10px!important;
  margin-right:5px!important;
  margin-left:5px!important;
  border-radius:50%!important;
  border:0!important;
  background-color:transparent!important;
  box-shadow:0 0 0 .2rem #E89F71;
}
.circle-left{
	position: absolute;
	left: 780px!important;
	top: -630px!important;
}
.cirle-right{
	position: absolute;
	top: -630px!important;
	left: 830px!important;
}
.previous{
	width: 48px!important;
	height: 48px!important;
	background: #E89F71!important;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
}
.next{
	width: 48px!important;
	height: 48px!important;
	background: #E89F71!important;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
}
.high-quality{
	position: absolute;
	width: 494px;
	height: 553px;
	left: 5%;
	top: 141px;
	background: rgba(255, 255, 255, 0.72);
	z-index: 1;
}
.high-quality__text{
	padding: 60px;
}
.high-quality__title{
	font-weight: bold;
	font-size: 56px;
}
.high-quality__content{
	font-weight: 500;
	font-size: 20px;
	color: #898989;
	margin-bottom: 10px;
}
.shop-now{
	width: 374px;
	height: 78px;
	font-weight: 600;
	font-size: 20px;
	background: #E89F71;
	color: #FFF;
	border: none;
}
.advantages__list{
	margin: 70px auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.advantages__advantage{
	font-weight: 600;
	font-size: 18px;
}
.advantages__details{
	display: flex;
}
.advantages__explanation{
	font-weight: 500;
	color: #898989;
}
.icon{
	margin-right: 20px;
	width: 35px;
}
.products__title{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	padding: 40px;S
}
.products__wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px; 
}
.products__item{
	height: 446px;
	width: 285px;
	margin-bottom: 50px;
	position: relative;
}
.products__image{
	position: relative;
}
.products__marker1{
	position: absolute;
	top: 20px;
	left: 200px;
	color: #FFF;
	font-weight: 500;
	font-size: 16px;
	width: 4em;
  	height: 4em;
  	border-radius: 50%;
  	line-height: 4em;  
  	text-align: center; 
  	background-color: #E97171;
}
.products__marker2{
	position: absolute;
	top: 20px;
	left: 200px;
	color: #FFF;
	font-weight: 500;
	font-size: 16px;
	width: 4em;
  	height: 4em;
  	border-radius: 50%;
  	line-height: 4em;  
  	text-align: center; 
  	background-color: #2EC1AC;;
}
.our-products__text{
	background: #F4F5F7;
	height: 145px;
	padding-left: 15px; 
}
.products__name{
	font-weight: 600;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.products__description{
	font-weight: 500;
	padding-bottom: 15px;
}
.products__price{
	font-weight: 600;
	font-size: 20px;
	margin-right: 20px;
	float: left;
	padding-bottom: 24px;
}
.products__old-price{
	color: #B0B0B0;	
}
.products__unit-shadow{
    position: absolute;
    background: #3A3A3A;
    height: 446px;
	width: 285px;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    opacity: 0;
    transition: 1s all ease-in;
}
.products__unit-shadow:hover{
    opacity:0.72;
 }
 .products__add-to{
 	height: 48px;
	width: 202px;
	margin-left: 42px;
	margin-top: 175px;
	background-color: #fff;
	margin-bottom: 30px;
 }
 .add-to-cart{
 	background-color: #fff;
 	color:  #E89F71;
 	text-align: center;
 	padding-top: 15px;
 	padding-left: 50px;
 	border: none;
 }
 .products__share-like{
 	width: 196px;
 	margin-left: 46px;
 	display: flex;
 	justify-content: space-between;
 }
 .show-more{
 	margin: 0 auto;
 	height: 48px;
	width: 245px;
	background-color: #fff;
	border: 1px solid #E89F71;
	margin-bottom: 70px;
 }
 .add-to-cart{
 	background-color: #fff;
 	color:  #E89F71;
 	text-align: center;
 	padding-top: 15px;
 	padding-left: 73px;
 	border: none;
 }
 .beautiful-rooms{
	height: 670px;
	background: #FCF8F3;
	display: flex;
 }
 .beautiful-rooms__text{
	margin-left: 5%;
	width: 35%;
	height: 96px;
	padding-top: 200px;
	margin-right: 200px;
 }
 .beautiful-rooms__title{
	font-weight: bold;
	font-size: 40px;
	width: 378px;  
 }
 .beautiful-rooms__subtitle{
   	font-weight: 500;
 }
  .beautiful-rooms__gallery{
	display: flex;
	height: 582px;
	margin-top: 44px;
   	margin-bottom: 44px; 
  }
  .beautiful-rooms__bed-room{
	position: relative;
	height: 582px;
	widows: 404px;
	margin-right: 30px; 
  }
  .beautiful-rooms__bed-label{
	position: absolute;
	width: 217px;
	height: 130px;
	background: rgba(255, 255, 255, 0.72);
	top: 420px;
	left: 25px;
 }
 .beautiful-rooms__label-text{
	padding: 30px;
}
.beautiful-rooms__label-subtitle{
	font-weight: 500;
	color:#616161;
	text-align: center;
}
.beautiful-rooms__label-title{
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}
.beautiful-rooms__white-room{
	width: 372px;
	height: 486px;
	margin-bottom: 50px;
}
.tips-tricks{
	padding-bottom: 90px;
}
.tips-tricks__title{
	width: 335px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
 }
.tips-tricks__item{
	width: 391px;
	height: 370px;
}
.tips-tricks__subtitle{
	width: 340px;
	font-weight: 600;
	font-size: 24px;
}
.tips-tricks__date{
	color: #898989;
	font-size: 14px;
}
.tips-tricks__wrapper{
	display: flex;
	justify-content: space-between;
}
 input[type='radio'] {
  position: relative;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #E89F71;;
}
input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #E89F71;;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.gallery__subtitle{
	color: #616161;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	padding-left: 170px;
}
.gallery__title{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding-left: 170px;
}
.gallery{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 2.4%;
	grid-row-gap: 5%;
	padding-bottom: 150px;
	justify-items: center;
}
.gallery__1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: end;
}
.gallery__2{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: end;
}
.gallery__3{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
	align-self: center;
}
.gallery__4{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 4;
	align-self: end;  
}
.gallery__5{
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 4;
	align-self: end;
}
.gallery__6{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
}
.gallery__7{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5; 
	align-self: left;
}
.gallery__8{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
}
.gallery__9{
	grid-column-start: 6;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;   
}
.gallery__10{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 60px;
	border-top: 1px solid #D8D8D8;
}
.footer__column{
	padding-bottom: 30px;
}
.footer__title{
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 5px;
}
.footer__funiro{
	width: 249px;
	padding-bottom: 10px;
}
.q{
	color: #616161;
	font-weight: 500;
	line-height: 2em;
}
a.q{
	text-decoration: none;
}
a.q:hover{
	text-decoration: none;
	color: #616161;
}
.footer__email{
	display: flex;
}
.send{
	width: 30px;
	height: 30px; 
	background-color: #E89F71;
	position: relative;
}
.send-arrow{
	position: absolute;
	top: 1px;
	left: 5px;
}
.footer__your-email input{
	background: #F4F5F7;
	height: 30px;
	border: none;
}
@media (max-width: 1200px){
	.company__menu{
	 flex-wrap: wrap;
	}
	.company__write{
	 order: 1;
	 align-self: flex-start;
	 flex-basis: 60%;
	}
	input.with-mag{
	 line-height: 3em;
	}
	.high-quality{
	 left: 1%;
	 top: 250px;
	}
	.products__wrapper{
	 flex-wrap: wrap;
	 align-items: center;
	}
}
@media (max-width: 900px){
	.circle-left{
	top: -550px!important;
	left: 650px!important;
	}
	.cirle-right{
	top: -550px!important;
	left: 700px!important;
	}
	.company__sofa-label{
	position: absolute;
	top: 300px;
	   left: 500px;
	}
	.beautiful-rooms{
	 display: block;
	 height: 800px;
	}
	.beautiful-rooms__text{
	 padding-top: 10px;
	 margin-bottom: 120px;
	}
	.beautiful-rooms__gallery{
	 margin-left: 20px;
	}
	.main{
	 left: 0;
	 width: 800px;
	}
	.high-quality{
	 left: 1%;
	 top: 250px;
	 width: 481px;
	 height: 520px;
	} 
	.tips-tricks__wrapper{
	 flex-wrap: wrap;
	}
	.gallery{
	 grid-auto-flow: column; 
	 margin-bottom: 50px;
	}
	.gallery__1{
	 grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.gallery__2{
	 grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.gallery__3{
	 grid-area: auto;
	}
	.gallery__4{
	 grid-area: auto;
	}
	.gallery__5{
	 grid-area: auto;
	}
	.gallery__6{
	 grid-area: auto;
	}
	.gallery__7{
	 grid-area: auto;
	}
	.gallery__8{
	 grid-area: auto;
	}
	.gallery__9{
	 grid-area: auto;
	}
	.gallery__10{
	 grid-column: 1 / -1;
	}
	.gallery__subtitle{
	 padding-left: 0;
	}
	.gallery__title{
	 padding-left: 0;
	}
	.footer__wrapper{
	 flex-wrap: wrap;
	 align-items: center;
	} 
}
   